
@import "_variables.scss";
@import "./lib/bootstrap/_variables.scss";
@import "./lib/bootstrap/_mixins.scss";

body {
    padding: 2rem 0;
    overflow-y: scroll;
}

.navbar h1 {
    margin-bottom: 0;
}

vsp, vitality-squares-game, probability-display {
    display: block;
}

.green {
    color: $green-800 !important;

    &.vitalitySquare, &.btn, &.vitalitySquareOption {
        background-color: $green-200;
        border-color: $green-800;

        &:hover {
            background-color: $green-300;

            &.disabled {
                background-color: $green-200;
            }
        }
    }
}

.orange {
    color: $orange-800 !important;

    &.vitalitySquare, &.btn, &.vitalitySquareOption {
        background-color: $orange-200;
        border-color: $orange-800;

        &:hover {
            background-color: $orange-300;

            &.disabled {
                background-color: $orange-200;
            }
        }
    }
}

.yellow {
    color: $yellow-800 !important;

    &.vitalitySquare, &.btn, &.vitalitySquareOption {
        background-color: $yellow-200;
        border-color: $yellow-800;

        &:hover {
            background-color: $yellow-300;

            &.disabled {
                background-color: $yellow-200;
            }
        }
    }
}

.blue {
    color: $blue-800 !important;

    &.vitalitySquare, &.btn, &.vitalitySquareOption {
        background-color: $blue-200;
        border-color: $blue-800;

        &:hover {
            background-color: $blue-300;

            &.disabled {
                background-color: $blue-200;
            }
        }
    }
}

.purple {
    color: $purple-800 !important;

    &.vitalitySquare, &.btn, &.vitalitySquareOption {
        background-color: $purple-200;
        border-color: $purple-800;

        &:hover {
            background-color: $purple-300;

            &.disabled {
                background-color: $purple-200;
            }
        }
    }
}

.red {
    color: $red-800 !important;

    &.vitalitySquare, &.btn, &.vitalitySquareOption {
        background-color: $red-200;
        border-color: $red-800;

        &:hover {
            background-color: $red-300;

            &.disabled {
                background-color: $red-200;
            }
        }
    }
}

.gameStatistics {
    background-color: $grey-200;
    border-color: $grey-500;
    color: $grey-800;

    .squareTotals span {
        padding: 0 0.3rem;
    }
}

.gameBoard {
    margin-bottom: 1rem;
}

.vitalitySquare, .vitalitySquareOption {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 0.2rem black;
    color: $grey-500;
    background-color: $grey-200;
    border-color: $grey-500;

    &.disabled {
        cursor: default;
        opacity: 0.5;
    }

    &:hover {
        color: $grey-500;
        background-color: $grey-300;
        text-decoration: none;

        &.disabled {
            background-color: $grey-200;
        }
    }

    &:focus {
        color: $grey-500;
        text-decoration: none;
    }

    i {
        line-height: 1;
    }
}

.vitalitySquare {
    width: 5rem;
    height: 4.5rem;

    i:before {
        font-size: 3rem;
    }
}

.vitalitySquareOption {
    width: 4rem;
    height: 4rem;

    i:before {
        font-size: 2.5rem;
    }
}

i[class^="flaticon-"]:before {
    margin-left: 0;
}

.buttons {
    @include clearfix;
    margin-bottom: 1rem;
}

.popover-content {
    .row {
        min-height: 5rem;
        min-width: 17.125rem;
    }

    .col-xs-4 {
        padding: 0.5rem 1rem;
    }
}

.pickerBackdrop {
    display: none;
    background-color: black;
    position: absolute;
    opacity: .5;

    &.show {
        display: block;
    }
}

.configuration {
    z-index: 600;
    position: relative;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: white;

    &.hide {
        display: none;
    }
}

.vitalitySquareConfiguration {
    border-radius: 0.5rem;
    border: solid 0.1rem black;
    margin: 1rem;
    padding: 1rem;

    &.add {
        text-align: center;
    }
}

.colorPicker, .iconPicker {
    width: 50%;
    padding-bottom: 1rem;
}

.clear {
    clear: both;
}

.btn-danger:focus {
    color: #fff;
}

vitalitysquarepicker .pagination {
    font-size: 0.5rem;

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
        font-size: 0.5rem
    }
}