@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-apple55:before {
	content: "\e000";
}
.flaticon-baked2:before {
	content: "\e001";
}
.flaticon-bread14:before {
	content: "\e002";
}
.flaticon-broccoli:before {
	content: "\e003";
}
.flaticon-cheese14:before {
	content: "\e004";
}
.flaticon-drink110:before {
	content: "\e005";
}
.flaticon-drink24:before {
	content: "\e006";
}
.flaticon-fast-food:before {
	content: "\e007";
}
.flaticon-fish52:before {
	content: "\e008";
}
.flaticon-fruit72:before {
	content: "\e009";
}
.flaticon-gear39:before {
	content: "\e00a";
}
.flaticon-healthy-food4:before {
	content: "\e00b";
}
.flaticon-question30:before {
	content: "\e00c";
}
.flaticon-sandwich:before {
	content: "\e00d";
}
.flaticon-steak:before {
	content: "\e00e";
}
.flaticon-sweet9:before {
	content: "\e00f";
}
.flaticon-tea24:before {
	content: "\e010";
}
.flaticon-vegetables4:before {
	content: "\e011";
}
