

<div class="probabilityDisplay">
    <div class="nextSelectionStats">
        <p *ng-for="#probStat of probabilityStatistics">Chance for the Next Box to be {{probStat.squareType}}: {{probStat.probabilityOfNextSquare}}</p>
    </div>
    <table  *ng-for="#probStat of probabilityStatistics">
        <thead>
            <tr>
                <th></th>
                <th>Probability</th>
                <th>Probability of At Least</th>
            </tr>
        </thead>
        <tr *ng-for="#outcome of probStat.outcomes">
            <td>{{outcome.numSquares}} {{probStat.squareType}}</td>
            <td>{{outcome.exactProbability}}</td>
            <td>{{outcome.atLeastProbability}}</td>
        </tr>
    </table>
</div>