
<div class="itemStatistics {{probStat.color}}" *ngFor="#probStat of probabilityStatistics">
    <a class="btn center-block" data-toggle="collapse" href="#" (click)="probStat.showDetails = !probStat.showDetails">
        Chance for the Next Box to be <i class="{{probStat.icon}}"></i>: {{probStat.probabilityOfNextSquare | percent}}
    </a>
    <collapsiblePanel [isExpanded]="probStat.showDetails">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Probability</th>
                    <th>Probability of At Least</th>
                </tr>
            </thead>
            <tr *ngFor="#outcome of probStat.outcomes">
                <td class="{{probStat.color}}">{{outcome.numSquares}} <i class="{{probStat.icon}}"></i></td>
                <td>{{outcome.exactProbability | percent}}</td>
                <td>{{outcome.atLeastProbability | percent}}</td>
            </tr>
        </table>
    </collapsiblePanel>
</div>
