
<p class="gameStatistics alert clearfix">
    <span class="remainingSelections font-weight-bold">{{remainingSelections}} Selections Remaining</span>
    <span class="squareTotals pull-xs-right">
        <span *ngFor="#vitalitySquareConfiguration of vitalitySquareConfigurations" class="{{vitalitySquareConfiguration.color}}">
            {{vitalitySquareConfiguration.total - vitalitySquareConfiguration.remaining}} <i class="{{vitalitySquareConfiguration.icon}}"></i>
        </span>
    </span>
</p>
<div class="gameBoard row {{remainingSelections < 1 ? 'disabled' : ''}}">
    <div class="vitalitySquare col-xs-3 {{vitalitySquare.color}}" *ngFor="#vitalitySquare of vitalitySquares">
        <a href="#" (click)="selectVitalitySquare(vitalitySquare, $event)" class="{{vitalitySquare.squareType}}">
            <i class="{{vitalitySquare.icon}}"></i>
        </a>
    </div>
</div>
<div class="buttons">
    <button type="button" class="btn btn-danger btn-lg center-block" (click)="resetGameBoard()">Reset</button>
</div>